@font-face {
  font-family: "Mont-Bold";
  src: url("/fonts/Mont-Bold.ttf") format("opentype");
  src: url("/fonts/Mont-Bold.woff") format("opentype");
}

@font-face {
  font-family: "Mont-Regular";
  src: url("/fonts/Mont-Regular.ttf") format("opentype");
  src: url("/fonts/Mont-Regular.woff") format("opentype");
}

@font-face {
  font-family: "Mont-SemiBold";
  src: url("/fonts/Mont-SemiBold.ttf") format("opentype");
  src: url("/fonts/Mont-SemiBold.woff") format("opentype");
}
